*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

a{
  color: #6aa889;
  text-decoration: none;
}

a:hover{
  color: #3b5b4a;
}

.btn{
  display: block;
  height: 35px;
  padding: 0 20px 0;
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;
  color: #f7faf9;
  border: 0;
  background: #3b5b4a;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}
.btn:hover {
  color: #f7faf9;
  background: #2f483b;
}
.btn:focus {
  background: #2f483b;
  outline: none;
}
.error{
  margin: 10px 0;
  color: red;

}

.success{
  margin: 10px 0;
  color: #6aa889;
}
.root {
  color: #2a2a2a;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

.login-form {
  display: -webkit-box;
  display: flex;
  overflow-y: hidden;
  height: 100vh;
}

.login-form__body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 360px;
  margin: auto;
  padding: 0 20px;
}

.login-form__title {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
}

.float-label {
  position: relative;
  width: 100%;
}

.login-form__float-label {
  margin-top: 56px;
}

.float-label__input {
  width: 100%;
  padding: 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #2a2a2a;
  border: 0;
  border-bottom: 2px solid #e8e8e8;
  font-size: 15px;
}

.float-label__input:focus {
  border-bottom: 2px solid #3b5b4a;
  outline: 0;
}

.float-label__input:invalid {
  box-shadow: none;
}

.float-label__placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #2a2a2a;
  font-size: 15px;
}

.float-label__input:focus + .float-label__placeholder,
.float-label__input:valid + .float-label__placeholder {
  -webkit-transform: translate(-10px, -30px);
          transform: translate(-10px, -30px);
  color: #2a2a2a;
}

.radio-field {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 48px 0;
  padding: 0 20px;
}

.radio-btn {
  display: -webkit-box;
  display: flex;
  cursor: pointer;
  font-size: 15px;
}

.radio-btn__input {
  display: none;
}

.radio-btn__box {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
}

.radio-btn__box::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 50%;
  background: #3b5b4a;
}

.radio-btn__input:checked + .radio-btn__box::before {
  width: 12px;
  height: 12px;
  opacity: 1;
}

.login-form__submit {
  width: 100%;
  height: 56px;
  cursor: pointer;
  text-transform: uppercase;
  color: #f7faf9;
  border: 0;
  background: #3b5b4a;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

.login-form__submit:hover {
  background: #2f483b;
}

.login-form__submit:focus {
  outline: 0;
  background: #2f483b;
}

.login-form__link{
  padding-top: 20px;
  align-self: flex-end;
}

.curtain {
  position: relative;
  overflow: hidden;
  width: 92.4vh;
  height: 100vh;
  background: url(../images/curtain.png?b94e58a6b3eb80fc72e4d768880f485f) center/cover no-repeat;
}

.curtain__title {
  position: absolute;
  bottom: 5.15vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  text-transform: uppercase;
  color: #f7faf9;
  font-size: 3vh;
}

.header {
  height: 65px;
  color: #e8e8e8;
  background: #3b5b4a;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.header__container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__left {
  display: -webkit-box;
  display: flex;
  margin-right: 25px;
}

.header__right {
  display: -webkit-box;
  display: flex;
}

.header__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 25px;
  white-space: nowrap;
}


.header__item a{
   color: #e8e8e8;
 }

.header__item:last-child {
  margin-right: 0;
  color: #e8e8e8;
}

.header__item_link {
  position: relative;
  padding: 7px 15px;
  text-decoration: none;
}

.header__item_link::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50%;
  height: 100%;
  content: "";
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  opacity: 0.1;
  background: #fff;
}

.header__item_link:hover::before {
  width: 100%;
}

.header__item_button {
  position: relative;
  padding: 7px 25px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  text-decoration: none;
  color: #e8e8e8;
  border: 1.2px solid #e8e8e8;
}

.header__item_button:hover {
  background: #49705b;
}

.header-mobile {
  display: none;
  height: 65px;
  color: #e8e8e8;
  background: #3b5b4a;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.header-mobile__top {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin-bottom: -1px;
  padding: 0 20px;
  background: #3b5b4a;
}

.user-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  margin-right: 20px;
}

.user-info__name {
  white-space: nowrap;
  font-weight: 500;
}

.user-info__date {
  white-space: nowrap;
  font-size: 14px;
}

.hamburger {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  cursor: pointer;
}

.hamburger__line {
  display: block;
  width: 25px;
  height: 3px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  background: #e8e8e8;
}

.hamburger__line:not(:last-child) {
  margin-bottom: 5px;
}

.mobile-menu {
  position: relative;
  z-index: -1;
  display: -webkit-box;
  display: flex;
  visibility: hidden;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background: #385646;
}

.mobile-menu_active {
  z-index: 0;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mobile-menu__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: 45px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  text-decoration: none;
  color: #e8e8e8;
  background: #385646;
}

.mobile-menu__item:last-child {
  border-bottom: 5px solid #385646;
}

.mobile-menu__item:hover {
  border-color: #49705b;
  background: #49705b;
}

.hamburger_active .hamburger__line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger_active .hamburger__line:nth-child(2) {
  opacity: 0;
}

.hamburger_active .hamburger__line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.data-title {
  margin: 45px 0 20px;
  text-align: center;
  text-transform: uppercase;
  color: #2a2a2a;
  font-family: "PT Serif", serif;
  font-size: 28px;
  font-weight: 400;
}

.data-title_active {
  padding-top: 90px;
}

.data-subtitle {
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "PT Serif", serif;
  font-size: 20px;
  font-weight: 400;
}

.data-text {
  margin: 0 auto 0;
  text-align: center;
}

.root__overflow-container {
  overflow-x: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.root__data-container {
  display: inline-block;
  min-width: 100%;
  padding: 0 10px;
}

.data {
  width: 100%;
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.data_zebra tr:nth-child(even) {
  background-color: #f7f7f7;
}

.data th,
.data td {
  padding: 18px 10px;
}

.data th:first-child {
  text-align: left;
}

.data td:not(:first-child) {
  text-align: center;
}

.root__data-tab {
  margin-top: 50px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.data-tab__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.data-tab__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  text-decoration: none;
  color: #2a2a2a;
  font-family: "PT Serif", serif;
  font-size: 18px;
  font-weight: 400;
}

.data-tab__item:not(:last-child) {
  margin-bottom: 20px;
}

.data-tab__item svg {
  margin-right: 5px;
}

.footer {
  height: 90px;
}

.spec-container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 10px;
}

.spec-card {
  position: relative;
  width: 400px;
  height: 200px;
  margin: 0 10px 20px 10px;
  padding: 20px;
  color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 0 7px #e8e8e8;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

.spec-card__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
}

.spec-card__subtitle {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.spec-card__aside {
  position: absolute;
  bottom: 20px;
}

.spec-card__text:not(:last-child) {
  margin-bottom: 5px;
}

.spec-card-link {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 250px;
  height: 105px;
  border-bottom-right-radius: 10px;
}

.spec-card-link__triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  cursor: pointer;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transform: rotate(-25deg) scaleX(2);
          transform: rotate(-25deg) scaleX(2);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  background: #3b5b4a;
}

.spec-card-link__triangle:hover,
.spec-card-link__text:hover + .spec-card-link__triangle {
  background: #49705b;
}

.spec-card-link__text {
  position: absolute;
  z-index: 10;
  right: 20px;
  bottom: 25px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.spec-card-link__text svg {
  -webkit-transform: translate(10%, 20%);
          transform: translate(10%, 20%);
}

.data--subj td:first-child {
  color: #2a2a2a;
}

.fat-plus {
  display: inline-block;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.data__total,
.data__exam {
  border-bottom: 0 !important;
}

.data__total {
  background: #e8e8e8;
}

.home-link-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 15px;
}

.home-link {
  align-self: flex-end;
  text-decoration: none;
  color: #6aa889;
  font-weight: 500;
}

.home-link svg {
  -webkit-transform: rotate(180deg) translateY(-15%);
          transform: rotate(180deg) translateY(-15%);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.home-link svg .stroke {
  fill: #6aa889;
}
.home-link:hover .stroke {
  fill: #3b5b4a;
}
.data-add__list {
  list-style: none;
}
.data__button{
  width: 40px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.data__button svg {
  align-self: center;
  pointer-events: none;
}

.data-add__button{
  background: #6aa889;
}
.data-add__button:hover {
  background: #4e6b5c;
}

.data-delete__button{
  margin-left: 4px;
  background: indianred;
}

.data-delete__button:hover{
  background:darkred;
}
.data-add__item {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
.data-add__item:last-child{
  padding-bottom:0;
}

.data-options {
  width: 40px;
  height: 30px;
  background: #6aa889;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.data-options:hover {
  background: #4e6b5c !important;
}

.data-options__list {
  display: none;
  list-style: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .12);
}

.data-options__list_active {
  display: block;
}

.data-options__item {
  min-height: 40px;
  width: 175px;
  display: flex;
  align-items: stretch;
}

.data-options__link {
  background: #fff;
  text-align: left;
  line-height: 160%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 10px 10px 10px 5px;
}

.data-options__link:hover {
  background: #edf0fa;
}

.data-options__link svg {
  min-width: 24px;
  min-height: 24px;
  margin-right: 10px;
}

.journal {
  overflow: hidden;

  margin: 25px auto 0;

  color: #2a2a2a;
  border-collapse: collapse;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

.journal th {
  vertical-align: bottom;

  font-weight: normal;
}

.journal th span {
  padding-bottom: 4px;

  transform: rotate(180deg);

  writing-mode: vertical-lr;
}
.journal button{
  color: #6aa889;
  cursor: pointer;
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

.journal button:focus{
  outline: none;
}

.journal button:hover{
  color: #3b5b4a;
}

.journal th {
  position: relative;

  padding: 10px;

  border: 2px solid #e8e8e8;
}

.journal td{
  position: relative;
  border: 2px solid #e8e8e8;
}

.journal td:focus, .journal td input:focus{
  outline:none;
}
.journal td input{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  width: 47px;
  padding: 10px 4px;
  text-align: center;
  border: none;
}

.journal td input:disabled{
  background-color: #f7f7f7;
}

.journal td:not(:first-child) {
  text-align: center;
  font-size: 16px;

}

.journal tr:not(:first-child) td:first-child {
  padding: 10px 20px 10px 10px;

  white-space: nowrap;

}
.journal__expression{
  background: #edf0fa;
}

.journal__corner {
  padding: 10px;

}

.journal__corner svg {
  position: absolute;
  top: 0;
  left: 0;
}



.journal__col-title {
  position: absolute;
  top: 10px;
  right: 10px;

  text-align: right;

  font-weight: 500;
}

.journal__row-title {
  position: absolute;
  bottom: 10px;
  left: 10px;

  max-width: 70%;

  font-weight: 500;
}

.journal__add {
  cursor: pointer;
}

.journal__add svg {
  transform: scale(1.45);
}
.journal__add:hover path:first-child{
  fill: #3b5b4a;
}


/*.journal tr:not(:first-child):hover {*/
  /*background: #edf0fa;*/
/*}*/

.journal tr:not(:first-child) input:hover {
  background: #edf0fa;
}

/*.journal td:not(:first-child):hover::after,*/
/*.journal th:not(:first-child):hover::after {*/
  /*position: absolute;*/
  /*z-index: -1;*/
  /*top: -5000px;*/
  /*left: 0;*/

  /*width: 100%;*/
  /*height: 10000px;*/

  /*content: '';*/

  /*background-color: #edf0fa;*/
/*}*/
/*.journal td:not(:first-child):hover::after{*/
  /**/
/*}*/

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.modal-form {
  position: absolute;
  max-width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, .12);
  background-color: white;

}

.modal_small {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal__head {
  position: relative;

  height: 65px;

  background: #3b5b4a;
}

.modal-title {
  position: absolute;
  bottom: 6px;
  left: 50%;

  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;

  color: #fafafa;

  font-family: 'PT Serif', serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
}

.modal__exit {
  position: absolute;
  top: 5px;
  right: 5px;

  cursor: pointer;

  fill: #6aa889;
}

.modal__exit:hover {
  fill: #4e6b5c;
}

.modal__body {
  margin: 0 40px 60px;
}

.modal-control {
  margin-top: 35px;
}

.modal-control_centered {
  text-align: center;
}

.modal-control__label {
  white-space: nowrap;

  font-size: 16px;
  font-weight: 500;
}

.custom-select {
  position: relative;

  margin-top: 10px;

  border: 0;
  border-bottom: 2px solid #e8e8e8;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 150%;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

.select-selected:after {
  position: absolute;
  top: 50%;
  right: 10px;

  width: 0;
  height: 0;

  content: "";

  border: 6px solid transparent;
  border-color: #2a2a2a transparent transparent transparent;
}

.select-selected.none{
  background-color: rgba(239, 239, 239, 0.3);
  cursor: default;
}
.select-selected.none:after {
  display: none;

}

.select-selected.select-arrow-active:after {
  top: calc(50% - 7px);

  border-color: transparent transparent #2a2a2a transparent;
}

.select-items div,.select-selected {
  padding: 8px 27px 8px 16px;

  cursor: pointer;

  color: #2a2a2a;
}

.select-items {
  overflow-y: scroll;
  max-height: 250px;
  position: absolute;
  z-index: 99;
  top: 100%;
  right: 0;
  left: 0;

  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .12);
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #edf0fa;
}

.modal-control__input {
  display: block;

  width: 100%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 16px 8px 16px;

  color: #2a2a2a;
  border: 0;
  border-bottom: 2px solid #e8e8e8;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

.modal-control__input_small {
  width: 35%;

  text-align: center;
}

.modal-control__input:focus {
  outline: 0;
}

.modal-control__input:focus::placeholder {
  color: transparent;
}

.modal-control-group {
  display: flex;
}

.modal-control-group > *:not(:last-child) {
  margin-right: 30px;
}

.modal-control-group_centered {
  justify-content: center;
}

.modal-control-group_nospace > *:not(:last-child) {
  margin-right: 10px;
}

.modal__btn {
  display: flex;
  align-items: center;

  width: 100%;
  height: 35px;
  padding: 0 20px 0;

  cursor: pointer;

  color: #6aa889;
  border: 0;
  background: #fff;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

.modal__btn svg {
  margin-right: -5px;
  margin-left: 5px;

  fill: #fafafa;
}

.modal__btn:hover {
  color: #2f483b;
}

.modal__btn:focus {
  outline: 0;
}

.modal__btn_submit {
  width: 100%;
  height: 35px;
  padding: 0 20px 0;

  cursor: pointer;

  color: #f7faf9;
  border: 0;
  background: #3b5b4a;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

.modal__btn_submit:hover {
  color: #f7faf9;
  background: #2f483b;
}

.modal__btn_submit:focus {
  background: #2f483b;
}

.modal-notification__icon {
  position: relative;

  width: 75px;
  height: 75px;
  margin: 0 auto;

  border-radius: 50%;
  background: #3b5b4a;
}

.modal-notification__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 80%;
  height: 80%;

  transform: translate(-50%, -50%);

  fill: #fafafa;
}

.modal-notification__text {
  margin-top: 15px;

  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}
.radio-field_modal{
  margin: 0;
}

/* ============ Медиа-запросы ============ */

@media screen and (max-aspect-ratio: 8/5),
screen and (max-width: 1024px) {
  .curtain {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .data {
    font-size: 13.5px;
  }
  .data th,
  .data td {
    padding: 13px 10px;
  }
  .data-title {
    margin: 25px 0 20px;

    font-size: 24px;
  }
  .data-tab__item {
    font-size: 16px;
  }
  .root__data-tab {
    margin-top: 30px;
  }
  .spec-container {
    margin-top: 25px;
  }
}

@media screen and (max-width: 400px) {
  .spec-card {
    padding: 15px;
  }
  .spec-card__title {
    font-size: 15.5px;
  }
  .spec-card__subtitle {
    font-size: 13.5px;
  }
  .spec-card__aside {
    bottom: 15px;

    font-size: 13.5px;
  }
  .spec-card-link__triangle {
    display: none;
  }
  .spec-card-link__text {
    right: 15px;
    bottom: 20px;

    color: #3b5b4a;

    font-weight: 700;
  }
  .spec-card-link__text .stroke {
    fill: #3b5b4a;
  }
  .journal, .journal td:not(:first-child), .journal td input{
    font-size: 12px;
  }
  .journal td input{
    width: 38px;
  }


}
.mt-2{
  margin-top: 10px;
}
.mt-5{
  margin-top: 45px;
}

