*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.root {
  color: #2a2a2a;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

.login-form {
  display: flex;
  overflow-y: hidden;

  height: 100vh;
}

.login-form__body {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 360px;
  margin: auto;
  padding: 0 20px;
}

.login-form__title {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
}

.float-label {
  position: relative;

  width: 100%;
}

.login-form__float-label {
  margin-top: 56px;
}

.float-label__input {
  width: 100%;
  padding: 10px;

  transition: all .2s ease-out;

  color: #2a2a2a;
  border: 0;
  border-bottom: 2px solid #e8e8e8;

  font-size: 15px;
}

.float-label__input:focus {
  border-bottom: 2px solid #3b5b4a;
  outline: 0;
}

.float-label__input:invalid {
  box-shadow: none;
}

.float-label__placeholder {
  position: absolute;
  top: 10px;
  left: 10px;

  transition: all .2s ease-out;

  color: #2a2a2a;

  font-size: 15px;
}

.float-label__input:focus + .float-label__placeholder,
.float-label__input:valid + .float-label__placeholder {
  transform: translate(-10px, -30px);

  color: #2a2a2a;
}

.radio-field {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 48px 0;
  padding: 0 20px;
}

.radio-btn {
  display: flex;

  cursor: pointer;

  font-size: 15px;
}

.radio-btn__input {
  display: none;
}

.radio-btn__box {
  position: relative;

  width: 20px;
  height: 20px;
  margin-right: 8px;

  border: 2px solid #e8e8e8;
  border-radius: 5px;
}

.radio-btn__box::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 0;
  height: 0;

  content: '';
  transition: all .2s ease-out;
  transform: translate(-50%, -50%);

  opacity: 0;
  border-radius: 50%;
  background: #3b5b4a;
}

.radio-btn__input:checked + .radio-btn__box::before {
  width: 12px;
  height: 12px;

  opacity: 1;
}

.login-form__submit {
  width: 100%;
  height: 56px;

  cursor: pointer;
  text-transform: uppercase;

  color: #f7faf9;
  border: 0;
  background: #3b5b4a;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

.login-form__submit:hover {
  background: #2f483b;
}

.login-form__submit:focus {
  outline: 0;
  background: #2f483b;
}

.curtain {
  position: relative;

  overflow: hidden;

  width: 92.4vh;
  height: 100vh;

  background: url(./images/curtain.png) center / cover no-repeat;
}

.curtain__title {
  position: absolute;
  bottom: 5.15vh;
  left: 50%;

  transform: translateX(-50%);
  white-space: nowrap;
  text-transform: uppercase;

  color: #f7faf9;

  font-size: 3vh;
}

.header {
  height: 65px;

  color: #e8e8e8;
  background: #3b5b4a;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__left {
  display: flex;

  margin-right: 25px;
}

.header__right {
  display: flex;
}

.header__item {
  display: flex;
  align-items: center;

  margin-right: 25px;

  white-space: nowrap;
}

.header__item:last-child {
  margin-right: 0;
}

.header__item_link {
  position: relative;

  padding: 7px 15px;

  text-decoration: none;

  color: #e8e8e8;
}

.header__item_link::before {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 50%;
  height: 100%;

  content: '';
  transition: all .25s ease-out;

  opacity: .1;
  background: #fff;
}

.header__item_link:hover::before {
  width: 100%;
}

.header__item_button {
  position: relative;

  padding: 7px 25px;

  transition: all .25s ease-out;
  text-decoration: none;

  color: #e8e8e8;
  border: 1.2px solid #e8e8e8;
}

.header__item_button:hover {
  background: #49705b;
}

.header-mobile {
  display: none;

  height: 65px;

  color: #e8e8e8;
  background: #3b5b4a;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.header-mobile__top {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  margin-bottom: -1px;
  padding: 0 20px;

  background: #3b5b4a;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: 20px;
}

.user-info__name {
  white-space: nowrap;

  font-weight: 500;
}

.user-info__date {
  white-space: nowrap;

  font-size: 14px;
}

.hamburger {
  display: flex;
  flex-direction: column;

  cursor: pointer;
}

.hamburger__line {
  display: block;

  width: 25px;
  height: 3px;

  transition: all .25s ease-out;

  background: #e8e8e8;
}

.hamburger__line:not(:last-child) {
  margin-bottom: 5px;
}

.mobile-menu {
  position: relative;
  z-index: -1;

  display: flex;
  visibility: hidden;
  align-items: center;
  flex-direction: column;

  transition: transform .25s ease-in-out;
  transform: translateY(-100%);

  background: #385646;
}

.mobile-menu_active {
  z-index: 0;

  visibility: visible;

  transform: translateY(0);
}

.mobile-menu__item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 45px;

  transition: all .25s ease-out;
  text-decoration: none;

  color: #e8e8e8;
  background: #385646;
}

.mobile-menu__item:last-child {
  border-bottom: 5px solid #385646;
}

.mobile-menu__item:hover {
  border-color: #49705b;
  background: #49705b;
}

.hamburger_active .hamburger__line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger_active .hamburger__line:nth-child(2) {
  opacity: 0;
}

.hamburger_active .hamburger__line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.data-title {
  margin: 45px 0 20px;

  text-align: center;
  text-transform: uppercase;

  color: #2a2a2a;

  font-family: 'PT Serif', serif;
  font-size: 28px;
  font-weight: 400;
}

.data-title_active {
  padding-top: 90px;
}

.data-subtitle {
  margin-top: -10px;
  margin-bottom: 20px;

  text-align: center;

  font-family: 'PT Serif', serif;
  font-size: 20px;
  font-weight: 400;
}

.root__overflow-container {
  overflow-x: auto;

  max-width: 1000px;
  margin: 0 auto;
}

.root__data-container {
  display: inline-block;

  min-width: 100%;
  padding: 0 10px;
}

.data {
  width: 100%;

  border-collapse: collapse;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.data tr {
  border-bottom: 2px solid #e8e8e8;
}

.data th,
.data td {
  padding: 18px 10px;
}

.data td:first-child {
  color: #6aa889;
}

.data th:first-child {
  text-align: left;
}

.data td:not(:first-child) {
  text-align: center;
}

.root__data-tab {
  margin-top: 50px;

  transition: all .25s ease-out;
}

.data-tab__container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.data-tab__item {
  display: flex;
  align-items: center;

  text-decoration: none;

  color: #2a2a2a;

  font-family: 'PT Serif', serif;
  font-size: 18px;
  font-weight: 400;
}

.data-tab__item:not(:last-child) {
  margin-bottom: 20px;
}

.data-tab__item svg {
  margin-right: 5px;
}

.footer {
  height: 90px;
}

.spec-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 10px;
}

.spec-card {
  position: relative;

  width: 400px;
  height: 200px;
  margin: 0 10px 20px 10px;
  padding: 20px;

  color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 0 7px #e8e8e8;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

.spec-card__title {
  margin-bottom: 10px;

  text-align: center;

  font-size: 17px;
  font-weight: 700;
  font-style: normal;
}

.spec-card__subtitle {
  text-align: center;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.spec-card__aside {
  position: absolute;
  bottom: 20px;
}

.spec-card__text:not(:last-child) {
  margin-bottom: 5px;
}

.spec-card-link {
  position: absolute;
  right: 0;
  bottom: 0;

  overflow: hidden;

  width: 250px;
  height: 105px;

  border-bottom-right-radius: 10px;
}

.spec-card-link__triangle {
  position: absolute;

  width: 100%;
  height: 100%;

  content: '';
  cursor: pointer;
  transition: all .25s ease-out;
  transform: rotate(-25deg) scaleX(2);
  transform-origin: 100% 0;

  background: #3b5b4a;
}

.spec-card-link__triangle:hover,
.spec-card-link__text:hover + .spec-card-link__triangle {
  background: #49705b;
}

.spec-card-link__text {
  position: absolute;
  z-index: 10;
  right: 20px;
  bottom: 25px;

  cursor: pointer;

  color: #fff;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.spec-card-link__text svg {
  transform: translate(10%, 20%);
}

.data--subj td:first-child {
  color: #2a2a2a;
}

.fat-plus {
  display: inline-block;

  transform: scale(2);
}

.data__total,
.data__exam {
  border-bottom: 0 !important;
}

.data__total {
  background: #e8e8e8;
}

.home-link-container {
  display: flex;
  flex-direction: column;

  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.home-link {
  align-self: flex-end;

  text-decoration: none;

  color: #6aa889;

  font-weight: 500;
}

.home-link svg {
  transform: rotate(180deg) translateY(-15%);
  transform-origin: 50% 50%;
}

.home-link svg .stroke {
  fill: #6aa889;
}

@media screen and (max-aspect-ratio: 8/5),
       screen and (max-width: 1024px) {
  .curtain {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .data {
    font-size: 13.5px;
  }
  .data th,
  .data td {
    padding: 13px 10px;
  }
  .data-title {
    margin: 25px 0 10px;

    font-size: 24px;
  }
  .data-tab__item {
    font-size: 16px;
  }
  .root__data-tab {
    margin-top: 30px;
  }
  .spec-container {
    margin-top: 25px;
  }
}

@media screen and (max-width: 400px) {
  .spec-card {
    padding: 15px;
  }
  .spec-card__title {
    font-size: 15.5px;
  }
  .spec-card__subtitle {
    font-size: 13.5px;
  }
  .spec-card__aside {
    bottom: 15px;

    font-size: 13.5px;
  }
  .spec-card-link__triangle {
    display: none;
  }
  .spec-card-link__text {
    right: 15px;
    bottom: 20px;

    color: #3b5b4a;

    font-weight: 700;
  }
  .spec-card-link__text .stroke {
    fill: #3b5b4a;
  }
}